<div class="wp-block-group blk-about-gaw-poe has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
<h3 class="wp-block-heading h-in-pg">ABOUT GAW | POE LLP</h3>



<p>Gaw | Poe LLP is a San Francisco Bay Area boutique law firm focusing on business litigation, antitrust litigation, and appeals. Founders Randolph Gaw and Mark Poe are nationally recognized litigators who graduated from the same class at Stanford Law School. The firm has been recognized by&nbsp;<em>The National Law Journal</em>&nbsp;for obtaining the 37<sup>th</sup>&nbsp;largest verdict in the country for 2016.</p>
</div>