<div class="wp-block-group blk-contact has-global-padding is-layout-constrained wp-block-group-is-layout-constrained{{current-class:0}}">
<h4 class="wp-block-heading h-standard{{current-class:1}}">Contact</h4>



<p class="contact-point phone{{current-class:2}}"><strong>P</strong> +1 415-766-9317</p>



<p class="contact-point fax{{current-class:3}}"><strong>F</strong> +1 415-737-0642</p>



<p class="contact-point email{{current-class:4}}"><strong>E</strong> <a href="mailto:rgaw@gawpoe.com" class="{{current-class:5}}"{{current-anchor:0}}>rgaw@gawpoe.com</a></p>



<div class="wp-block-group social has-global-padding is-layout-constrained wp-block-group-is-layout-constrained{{current-class:6}}">
<p class="ic li{{current-class:7}}"><a href="https://www.linkedin.com/company/gaw-poe-llp/" target="_blank" rel="noreferrer noopener"{{current-anchor:1}}>LinkedIn</a></p>



<p class="ic fb{{current-class:8}}"><a href="https://www.facebook.com/profile.php?id=61560638781599" target="_blank" rel="noreferrer noopener"{{current-anchor:2}}>Facebook</a></p>
</div>



<p class="address{{current-class:9}}">One Embarcadero<br>Suite 1200<br>San Francisco, CA 94111</p>
</div>